<% raise unless priority %>

<div>
  <div class='priorities-edit'>
    <% remote_form_for([priority.prioritizable,priority], :html => {:class => 'inline'}) do |f| %>
      <% if priority.prioritizable.is_a? Project %>
        <%- if priority.issue_id.blank? -%>
          <%= f.text_field :text %>
          <%= f.select :assigned_to_id, priority.prioritizable.users.collect{|m| [m.name,m.id]},
               {:prompt=> l(:priority_new_assign_to_tooltip)},  
               {:title => l(:priority_new_assign_to_tooltip)} %>
        <%- else -%>
          <%= f.select :issue_id, priority.possible_issues.collect{ |i| 
                  subject = i.subject[0..40].scan(/([\x00-\x7f]|[\xC0-\xDF][\x80-\xBF]|[\xE0-\xEF][\x80-\xBF]{2}|[\xF0-\xF7][\x80-\xBF]{3})/on).join
                  ["##{i.id} #{subject}... #{i.tracker.name}" , i.id]
                },
                {:prompt=> l(:priority_new_issue_tooltip), :selected => (priority.issue_id)?  priority.issue_id.to_i : nil}
          %>
        <%- end -%>
      <% end %>
      Due:
      <%= f.text_field :due, :size => 8 %>
      <%= calendar_for :priority_due %>
      <br />
      <%= f.submit %>
      <%= link_to_remote("cancel", :url => polymorphic_path([priority.prioritizable,priority]), :method => :get) %>
    <% end %>
  </div>
  <div style='clear:both;' />
</div>

